<h1>Hello {{user.displayName}}</h1>
<ul>
	<li>id: {{user.id}}</li>
	<li>username: {{user.username}}</li>
</ul>
<a class="btn btn-primary" onclick="startRecording()">Start Recording</a>
<a class="btn btn-primary" onclick="doneRecording()">Finish Recording</a>
{{!-- <a class="btn btn-primary" onclick="getPlaylist('{{user.id}}')">Results</a> --}}
<a class="btn btn-primary" href="/results?id={{user.id}}">Results</a>

