<div class="page-header">
	<h1>Your Results <small>Check it</small></h1>
</div>
<div class="row">
	<div class="col-md-8 border-right">
		<div class="row">
			{{#each tracks}}
			<div class="col-md-3 col-sm-4 col-xs-6">
				<div class="tile-outer thumbnail">
					<img class="tile" src="{{img}}">
					<a class="tile-toggle" id="toggle-{{@index}}">
						<!-- <h3 class="tile-title">{{title}}</h3> -->
						<div class="tile-cover"></div>
					</a>
					<audio id="{{@index}}">
						<source src="{{url}}" type="audio/mp3">
					</audio>
					<script type="text/javascript">
						$('#{{@index}}')[0].volume = 0;
							// This track is playing
						$('#toggle-{{@index}}').click(function() {
						  	if ($('#{{@index}}')[0].paused == false) {
						      	$(this).removeClass('playing');

						  		$('#{{@index}}').animate({volume: 0}, 300,'swing', function() {
						      		$('#{{@index}}')[0].pause();
						  		});
						  	// Other track is playing
						  } else if (currenltyPlaying !== "" && $(currenltyPlaying)[0].paused == false) {
						      	$(this).addClass('playing');
						      	$('#toggle-' + currenltyPlaying.substr(1)).removeClass('playing');
						  		var tmp = currenltyPlaying
						  		console.log('stopping', tmp, "and playing", {{@index}});
						      	currenltyPlaying = "#"+{{@index}};
						  		$(tmp).animate({volume: 0}, 300,'swing', function() {
							    	$(tmp)[0].pause();	

						  		});

					      		$('#{{@index}}')[0].play();
						  		$('#{{@index}}').animate({volume: 1}, 300,'swing', function() {
						  		});

						  	// No track is playing
						  } else {
							    $(this).addClass('playing');
						  		currenltyPlaying = "#" + {{@index}};
					      		$(currenltyPlaying)[0].play();
						  		$(currenltyPlaying).animate({volume: 1}, 300,'swing', function() {
						  		});
							  	console.log('set current to', currenltyPlaying, "andplaying");
						  }
						});
					</script>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="col-md-4 hidden-sm">
		<div id="results">
			<div class="ro">
				<h3 class="cut">Rate your Playlist</h3>
				<div id="rating"></div>
				<div style="display: none" class="alert alert-success" id="thanks" role="alert">Thanks! You've made Moodbox better</div>
			</div>
			<div class="divider"></div>
			<div class="ro">
				<h4>Or Share it!</h4>
				<div class="fb-share-button" data-href="http://www.moodbox.xyz" data-layout="button"></div>
			</div>
			<div class="divider"></div>

			<div class="ro">
				<a class="btn btn-primary spotify" href="spotify:playlist:{{pid}}">Open in Spotify</a>
			</div>
			<div class="ro">
				<a class="btn btn-primary" href="/">Make Another</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

$('#results').affix({
  offset: 98
});

var currenltyPlaying = "";

function handleClick(e) {
	$.ajax({
		url: "/rating",
		method: "POST",
		dataType: "json",
		data: {rating: e},
		success: function() {
			console.log("ya");
		}, error: function(e) {
			console.log(e);
			$('#rating').hide();
			$('#thanks').show();
		}
	}).done(function(e) {
		console.log(e);
	});
}
$('#rating').raty({ click: handleClick });
</script>